@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

.background {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-35deg, #ff7b2e82 20%, #7deeff 110%);
  background-size: cover;
  font-family: 'klee one';
  color: #15275b;
}

.utama {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -63%);
  padding: 100px;
  width: 800px;
  height: 520px;
  background-color: #cce6ff;
  margin: 0 auto;
  border-radius: 70px;
  margin-top: 170px !important;
  border: 9px solid #15275b;
}
.utama .img {
  background-image: url('img/me.jpg');
  background-color: #eaeaea;
  background-size: cover;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 10px solid #15275b;
  margin-top: -175px;
}
.utama .desc {
  text-align: center;
  padding: 10px;
}
.utama .desc h1 {
  margin-top: -1px;
  font-weight: bolder;
}
.utama table tr td {
  padding-top: 10px;
  padding-left: 40px;
  text-align: left;
  font-size: 18px;
}
.utama table tr th {
  text-align: center;
}
.utama .desc h3 {
  margin: 30px -11px 10px -11px;
  background-color: #15275b;
  color: white;
  padding: 10px;
}
.sosmed {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -8px;
}
.sosmed ul {
  margin-left: -45px;
}
.sosmed ul li {
  list-style: none;
  display: inline-block;
}
