* {
  margin: 0;
  padding: 0;
  font-family: raleway;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-right: 50px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 850px;
  }
  .card {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
  .card {
    width: 100%;
  }
}
/* NAVBAR */
.navbar {
  background-color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  border-bottom: 1px solid rgba(173, 173, 173, 0.596);
}
.logo {
  cursor: pointer;
  margin-left: 8px;
  padding: 10px 0;
}
.navbar ul {
  margin-left: -20px;
  float: right;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
}
.navbar ul li a {
  line-height: 80px;
  padding-left: 10px;
  font-size: 15px;
  padding: 8px 12px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.navbar ul li a:hover {
  outline: 2px solid #15275b;
  transition-delay: 150ms;
  transition: ease-out;
}
.flag {
  float: right;
  height: 23px;
  display: flex;
  margin-right: -620px;
  margin-top: 28px;
  width: 24px;
}
.flagindo {
  filter: saturate(0.5);
  margin-left: 5px;
}
.flaging {
  filter: saturate(0.5);
}
.flag .flagindo:hover,
.flag .flaging:hover {
  filter: saturate(1);
}
/* Main */
.banner {
  position: relative;
  z-index: -1;
  margin-top: 80px;
  width: 100%;
  height: 95vh;
  display: inline-block;
  background-size: cover;
  background-image: url('img/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  animation: slide 20s infinite;
  /* ANIMATE BACKGROUND */
}
/* ANIMATE BACKGROUND */
@keyframes slide {
  25% {
    background-image: url('img/bg1.jpg');
  }
  50% {
    background-image: url('img/bg2.jpg');
  }
  75% {
    background-image: url('img/bg3.jpg');
  }
  100% {
    background-image: url('img/bg1.jpg');
  }
}
.slide a {
  width: 55px;
  height: 28px;
  color: transparent;
  background-image: url('img/panah.png');
  position: absolute;
  bottom: 40px;
  left: 50%;
  background-size: 100%;
  z-index: 9;
  transform: translateX(-50px);
  background-position: 0 100%;
}
/* ISI */
.content {
  background-color: white;
  text-align: center;
}
.content h1 {
  font-weight: normal;
  margin-top: 120px;
  font-size: 39px;
  color: #20336d;
}
.content h2 {
  font-size: 61px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #20336d;
}
table {
  border-spacing: 0;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 100px;
}
.garis {
  width: 80px;
  height: 2px;
  background-color: #20336d;
  margin: auto;
}
.content td img {
  margin: 100px -200px 0 20px;
}
.content p {
  margin-top: 40px;
  text-align: left;
  font-size: 15px;
  line-height: 1.8;
}
/* CARD */
.row {
  display: flex;
  margin-bottom: 100px;
}
.card {
  margin-right: 20px;
  transition: 0.3s;
}
.card .card-body {
  color: white;
  background-color: #20336d;
  width: 330px;
  height: 120px;
  position: relative;
  z-index: 1;
  margin-top: -10px;
}
.card .card-body h2 {
  padding: 15px;
  color: white;
}
.card-body .btn {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 60px;
  height: 40px;
  color: white;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid white;
  padding-top: 15px;
  padding-left: 5px;
}
.card-body .btn:hover {
  background-color: #f3f3f3;
  color: #15275b;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* POSTER */
.poster {
  width: 100%;
  height: 640px;
  padding: 90px 0;
  background-color: #f3f3f3;
  background-size: 500px;
}
.poster img {
  float: left;
}
.poster .isi {
  display: block;
  padding-top: 200px;
  padding-left: 550px;
}
.poster h1 a {
  color: #15275b;
  text-decoration: none;
  font-weight: 500;
}
.poster h1 a:hover {
  border-bottom: 3px solid #15275b;
}
.poster p {
  line-height: 1.5;
  color: black;
  font-size: 15px;
}

/* ALUMNI */
.alumni {
  margin: auto;
  width: 100%;
  height: 540px;
  padding: 90px 0;
}
.alumni h1 {
  text-align: center;
  color: #15275b;
  text-decoration: none;
  font-weight: 300;
  font-size: 45px;
}

.alumni .garis {
  margin-top: 30px;
}

.alumni .row {
  margin-top: 50px;
  display: flex;
}
.alumni .alumni-card {
  cursor: pointer;
  width: 350px;
  height: 400px;
  background: #f8f8f8;
  margin-left: 30px;
  margin-bottom: 50px;
  transition: 0.3s;
  text-align: center;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.alumni .orng {
  text-align: center;
  padding: 50px 30px;
  width: 150px;
  clip-path: circle(75px);
}
.alumni .alumni-card p {
  margin-top: -20px;
  font-size: 25px;
  font-weight: 600;
}
.alumni .logo {
  width: 200px;
  margin-top: 30px;
}

.alumni-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.5);
}
/* FOOTER */
footer {
  background-color: #20336d;
  width: 100%;
  height: auto;
  color: white;
  font-size: 15px;
  padding-top: 20px;
}
footer table {
  margin-top: 50px;
  text-align: center;
}
footer table tr td {
  width: 250px;
  padding: 15px;
  line-height: 25px;
}
footer h2 {
  font-weight: 700;
  padding-bottom: 20px;
}
footer h3 {
  font-weight: 600;
  font-size: 15px;
}
footer .td3 {
  margin-top: -115px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-top: 20px;
  width: 10%;
  margin-left: 20px;
  padding: 0 5px;
  display: flex;
  float: left;
  justify-content: space-between;
}
footer ul li img {
  width: 120%;
}
footer td a.kontak {
  text-decoration: none;
  color: white;
}
footer td a.kontak:hover {
  border-bottom: 1px solid white;
}
.copyright {
  margin-top: -50px;
  color: white;
  background-color: #15275b;
  text-align: center;
  line-height: 1.8;
  padding: 10px 0;
}
.copyright p {
  font-size: 10pt;
}
.copyright a {
  text-decoration: none;
  color: white;
}
