* {
  margin: 0;
  padding: 0;
  font-family: raleway;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-right: 50px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 850px;
  }
  .card {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
  .card {
    width: 100%;
  }
}
